@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


/*media queries pour rappetisser écriture développeuse web + pour diminuer padding navbar
ou jquery if ...css(width) == 950px*/

/*responsive*/
/*vidéo todoList*/
/*optimisation*/
/*optimisation images: diminuer taille images pour mobile*/

/*variable pour font-family*/
/*variable pour border-color*/

body
{
    --color-pink: #ef476f;
    --font-titillium: 'Titillium Web', sans-serif;
}




body
{
    background-image: url("../images/leone-venter-VieM9BdZKFo-unsplash-cut.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
}

section.sectionBlanche
{
    border-top: 3px solid var(--color-pink);
    width: 100%;
}

section.sectionRose
{
    position: absolute;
    left: 0px;
    opacity: 0.9;
    width: 100%;
}

#sectionRoseAccueil
{
    height: 450px;
    top: 500px; /*height et top en %*/
    z-index: -1;
}

#sectionRoseCompetences
{
    height: 320px;
    top: 1365px;
    z-index: 0;
}

/*couleurs*/

.txt-rose
{
    color: #ef476f;
}

.txt-blanc
{
    color: white;
}

.txt-noir
{
    color: black;
}

.txt-turquoise
{
    color: #118ab2;
}

.bg-rose
{
    background-color: #ef476f;
}

.bg-blanc
{
    background-color: white;
}


/*navbar*/
.navbar
{
    box-shadow: 0px 0px 20px #6a6d6e;
    padding: 0px 50px;
    width: 100%;
}

.navbar-brand
{
    display: flex;
    align-items: center;
    font-family: var(--font-titillium);
    font-size: 1.5em;  
    margin-bottom: -20px;
    margin-top: -20px;
    width: 75%;
}

.kd
{
    font-size: 3em;
}

.navbar-nav
{
    display: flex;
    align-items: center;
}

.nav-item
{
  
    padding: 10px;
}

.nav-item:hover
{
    border-bottom: 3px solid #ef476f;
    margin-bottom: -4px;
}

/*section etudesCompetences*/

#etudesCompetences
{
    margin: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

#etudes
{
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    margin: 10px auto;
    width: 60%; /*à changer responsive*/
}

#etudesResume
{
    padding: 90px;
}

.categorieBoite
{
    border-bottom: 1px solid #aaaaaa;
    /*box-shadow: 5px 5px 20px black;*/
    height: 180px;
    margin: 30px 0px;
    padding: 15px;
    text-align: center;
}

.categorieBoiteExterne
{
    margin: 0px;
    padding: 0px;
}

#blocBio
{
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    margin: 30px auto 30px;
    padding: 20px;
    width: 60%;
}

.HTMLBoite
{
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-radius: 20px 0px 0px 20px;
}

.JSBoite
{
    border-left: 1px solid #aaaaaa;
}

.PHPBoite
{
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-radius: 0px 20px 20px 0px;
}



/*section portfolio*/

#portfolio
{
    margin: 0px auto;
    padding-bottom: 120px;
    padding-top: 80px;
    text-align: center;
    width: 100%;
}

.projetBoite
{
    margin-top: 30px;
    position: relative;
}

.overlay
{
    position: absolute;  /*modifier overlay et .text pour fitter dans le cadre, width 100% de son parent, border-radius*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 20px;
}

.projetBoite:hover .overlay 
{
    opacity: 0.9;
}

.texteProjet
{
    font-family: var(--font-titillium);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.infoLienProjet, .lienVoirLeSite
{
    font-size: 0.8em;
}

.infoLienProjet:hover
{
    color: black;
}

.infoLienProjet:hover .iconeOverlay
{
    color: black;
}

.lienVoirLeSite
{
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
}

.lienVoirLeSite:hover
{
    background-color: black;
    border-color: black;
    color: white;
    text-decoration: none;
}

#todoList .lienVoirLeSite
{
    visibility: hidden;
}

.texteProjet p
{
    padding-top: 10px;
}





/*footer*/

footer
{
    font-size: 0.8em;
    letter-spacing: 2px;
    padding: 30px;
}

#copyright
{
    font-size: 0.8em;
}

/*titres*/
#titreProfession
{
    border: 1px solid #ef476f;
    border-radius: 20px;
    box-shadow: 2px 2px 20px black;
    display: inline-block;
    font-family: var(--font-titillium);
    font-size: 1.7em;
    left: 155px;
    margin: 125px 0px 30px 10%;
    padding: 20px;
    text-align: center;
    top: 150px;
    width: 45%;
}

#profession
{
    font-size: 1.5em;  
}

h1
{
    text-shadow: 1px 1px 5px grey;
}

#portfolio h1
{
    padding-bottom: 30px;
}

h2
{
    font-size: 1.5em;
}

h1, h2
{
    font-family: var(--font-titillium);
}

#nomContact
{
    font-size: 1.5em;
    padding-bottom: 10px;
}

/*images*/

#imageProfil
{ 
    border-radius: 20px;
    height: 30%;
    margin-bottom: 50px;
    width: 100%;
}

.imageProjet
{
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    width: 100%;
}

.imageProjet:hover
{
    opacity: 0;
    transition: 0.5s;
}

.imageProjet:not(:hover)
{
    transition: 0.5s;
}



/*icones*/

.iconeAccueil
{
    font-size: 2em;
    margin-left: 10px;
}

.iconeAccueil:hover
{
    border-bottom: none;
    color: #ef476f;
    margin-bottom: 0px;
}

.iconeAccueil .fa-linkedin:hover, .iconeAccueil .fa-github-square:hover
{
    color: #ef476f;
}

.iconeCategorie
{
    font-size: 2em;
    padding: 10px;
}

.fa-edit
{
    margin-left: 8px;
}

.fa-code
{
    font-size: 2em;
    padding: 10px;
}

.iconeOverlay
{
    font-size: 3em;
    margin-top: 10px;
}

.iconeOverlay:hover
{
    color: black;
}

.icone-contact
{
    font-size: 3em;
    padding: 30px 10px 10px;
}

.icone-contact:hover
{
    color: black; /*classe hover-noir*/
}


/*boutons*/

button
{
    border: none;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    margin-top: 50px;
    padding: 5px 10px;
}

button:hover
{
    transition: 0.5s;
}

.bg-gris-change:focus
{
    background-color: #464545;
    box-shadow: 2px 2px 10px black;
    outline: none;
}

.bg-gris-change:hover
{
    background-color: #464545;
}