@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


/*vidéo todoList*/
/*optimisation images: diminuer taille images pour mobile*/


body
{
    background-image: url("../images/leone-venter-VieM9BdZKFo-unsplash-cut.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    --color-pink: #ef476f;
    --color-white: white;
    --color-black: black;
    --color-grey-button: #464545;
    --color-turquoise: #118ab2;
    --color-grey-shadow:#6a6d6e;
    --color-grey-border: #aaaaaa;
    --font-titillium: 'Titillium Web', sans-serif;
}

section.sectionBlanche
{
    border-top: 3px solid var(--color-pink);
    width: 100%;
}

section.sectionRose
{
    position: absolute;
    left: 0;
    opacity: 0.9;
    width: 100%;
}

#sectionRoseAccueil
{
    height: 16.5%;
    top: 18%; 
    z-index: -1;
}

#sectionRoseCompetences
{
    height: 11%;
    top: 48.5%;
    z-index: 0;
}

/*couleurs*/

.txt-rose
{
    color: var(--color-pink);
}

.txt-blanc
{
    color: var(--color-white);
}

.txt-noir
{
    color: var(--color-black);
}

.txt-turquoise
{
    color: var(--color-turquoise);
}

.bg-rose
{
    background-color: var(--color-pink);
}

.bg-blanc
{
    background-color: var(--color-white);
}


/*navbar*/

.navbar
{
    box-shadow: 0px 0px 20px var(--color-grey-shadow);
    padding: 0px 50px;
    width: 100%;
}

.navbar-brand
{
    display: flex;
    align-items: center;
    font-family: var(--font-titillium);
    font-size: 1.5rem;  
    margin-bottom: -20px;
    margin-top: -20px;
    width: 75%;
}

.kd
{
    font-size: 3rem;
}

.navbar-toggler
{
    border: none;
    margin: 20px 0px;
}

.navbar-toggler:focus
{
    outline: none;
}

.navbar-nav
{
    display: flex;
    align-items: center;
}

.nav-item
{
  
    padding: 10px;
}

.nav-item:hover
{
    border-bottom: 3px solid var(--color-pink);
    margin-bottom: -4px;
}


/*section accueil*/

#titreProfession
{
    border: 1px solid var(--color-pink);
    border-radius: 20px;
    box-shadow: 2px 2px 20px var(--color-black);
    display: inline-block;
    font-family: var(--font-titillium);
    font-size: 1.7rem;
    left: 155px;
    margin: 125px 0px 30px 10%;
    padding: 20px;
    text-align: center;
    top: 150px;
    width: 45%;
}

#profession
{
    font-size: 2.3rem;  
}


/*section etudesCompetences*/

#etudesCompetences
{
    margin: 0px auto 60px;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

#etudes
{
    border: 1px solid var(--color-grey-border);
    border-radius: 20px;
    margin: 10px auto;
    width: 60%;
}

#etudesResume
{
    padding: 90px;
}

.categorieBoite
{
    border-bottom: 1px solid var(--color-grey-border);
    border-top: 1px solid var(--color-grey-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin: 30px 0px;
    padding: 10px;
    text-align: center;
}

.categorieBoiteExterne
{
    margin: 0px;
    padding: 0px;
}

#blocBio
{
    border: 1px solid var(--color-grey-border);
    border-radius: 20px;
    margin: 30px auto 30px;
    padding: 20px;
    width: 60%;
}

.competence1
{
    border-left: 1px solid var(--color-grey-border);
    border-radius: 20px 0px 0px 20px;
}

.competence2
{
    border-left: 1px solid var(--color-grey-border);
}

.competence3
{
    border-left: 1px solid var(--color-grey-border);
}

.competence4
{
    border-left: 1px solid var(--color-grey-border);
    border-right: 1px solid var(--color-grey-border);
    border-radius: 0px 20px 20px 0px;
}



/*section portfolio*/

#portfolio
{
    margin: 0px auto;
    padding-bottom: 120px;
    padding-top: 80px;
    text-align: center;
    width: 100%;
}

.projetBoite
{
    margin-top: 30px;
    position: relative;
}

.overlay
{
    border-radius: 20px;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute; 
    right: 0;
    top: 0; 
    transition: 0.5s ease;
    width: 100%;
    
}

.projetBoite:hover .overlay 
{
    opacity: 0.9;
}

.texteProjet
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--font-titillium);
    padding: 20px; 
}

.infoLienProjet, .lienVoirLeSite
{
    font-size: 0.8rem;
}

.infoLienProjet:hover
{
    color: var(--color-black);
}

.infoLienProjet:hover .iconeOverlay
{
    color: var(--color-black);
}

.lienVoirLeSite
{
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 3px;
}

.lienVoirLeSite:hover
{
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);
    text-decoration: none;
}

.texteProjet p
{
    padding-top: 10px;
}


/*footer*/

footer
{
    font-size: 0.8rem;
    letter-spacing: 2px;
    padding: 30px;
}

#copyright
{
    font-size: 0.6rem;
}


/*titres*/

h1
{
    text-shadow: 1px 1px 5px var(--color-grey-shadow);
}

#portfolio h1
{
    padding-bottom: 30px;
}

h2
{
    font-size: 1.5rem;
}

h1, h2
{
    font-family: var(--font-titillium);
}

#nomContact
{
    font-size: 1.2rem;
    padding-bottom: 10px;
}


/*images*/

#imageProfil
{ 
    border-radius: 20px;
    height: 30%;
    margin-bottom: 50px;
    width: 100%;
}

.imageProjet
{
    border-radius: 20px;
    box-shadow: 5px 5px 20px var(--color-black);
    width: 100%;
}

.imageProjet:hover
{
    opacity: 0;
    transition: 0.5s;
}

.imageProjet:not(:hover)
{
    transition: 0.5s;
}


/*icones*/

.iconeAccueil
{
    font-size: 2rem;
    margin-left: 10px;
}

.iconeAccueil:hover
{
    border-bottom: none;
    color: var(--color-pink);
    margin-bottom: 0px;
}

.iconeAccueil-hover:hover
{
    color: var(--color-pink);
}

.iconeCategorie
{
    font-size: 2rem;
    padding: 10px;
}

.fa-edit
{
    margin-left: 8px;
}

.fa-code
{
    font-size: 2rem;
    padding: 10px;
}

.iconeOverlay
{
    font-size: 2.5rem;
    margin-top: 5px;
}

.iconeOverlay:hover
{
    color: var(--color-black);
}

.icone-contact
{
    font-size: 2.5rem;
    padding: 30px 10px 10px;
}

.icone-contact:hover
{
    color: var(--color-black)
}


/*boutons*/

button
{
    border: none;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 50px;
    padding: 5px 10px;
}

button:hover
{
    transition: 0.5s;
}

.bg-gris-change:focus
{
    background-color: var(--color-grey-button);
    box-shadow: 2px 2px 10px black;
    outline: none;
}

.bg-gris-change:hover
{
    background-color: var(--color-grey-button);
}




/*media queries*/

@media screen and (max-width: 1200px) {
    #titreProfession{
        width: 60%;
    }
    #profession
    {
        font-size: 2.3rem;
    }

    .projetBoite
    {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    #sectionRoseAccueil
    {
        top: 14%;
    }

    #sectionRoseCompetences
    {
        height: 10%;
        top: 44.5%;
    }
    
}

@media screen and (max-width: 991px) {

    .salutation
    {
        font-size: 1.3rem;
    }

    #profession
    {
        font-size: 1.8rem;
    }

    .nav-item
    {
        padding: 3px;
    }

    #blocBio
    {
        width: 90%;
    }

    #etudes
    {
        width: 90%;
    }

    #etudesResume
    {
        padding: 90px 0px;
    }

    .competence2
    {
        border-radius: 0px 20px 20px 0px;
    }

    .competence3
    {
        border-radius: 20px 0px 0px 20px;
    }

    .competence1, .competence2
    {
        margin: 30px 0px 0px;
    }

    .projetBoite
    {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    #sectionRoseAccueil
    {
        top: 10%;
    }

    #sectionRoseCompetences
    {
        height: 15%;
        top: 35.5%;
    }
}

@media screen and (max-width: 767px) {
    #titreProfession{
        width: 80%;
    }

    .salutation
    {
        font-size: 1.2rem;
    }

    #profession
    {
        font-size: 1.7rem;
    }

    h1
    {
        font-size: 2rem;
    }

    .projetBoite
    {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    #sectionRoseAccueil
    {
        top: 10%;
    }

    #sectionRoseCompetences
    {
        height: 14%;
        top: 39%;
    }
}

@media screen and (max-width: 600px) {
    h1
    {
        font-size: 1.8rem;
    }

    .navbar
    {
        padding: 0px 25px;
    }

    .navbar-brand
    {
        font-size: 1.2rem;
    }

    .navbar-toggler
    {
        margin: 10px 0px;
    }

    #titreProfession
    {
        border: none;
        border-radius: 0px;
        font-size: 1.2rem;
        margin: 125px auto 30px;
        width: 100%;
    }

    #etudesResume
    {
        padding: 90px 0px;
    }

    .border-sm
    {
        border-radius: 0px;
        height: 210px;
    }

    .projetBoite
    {
        width: 80%;
    }

    #sectionRoseAccueil
    {
        top: 9%;
    }

    #sectionRoseCompetences
    {
        height: 15%;
        top: 38%;
    }
   

}

@media screen and (max-width: 450px) {
    .projetBoite
    {
        width: 98%;
    }

    .texteProjet
    {
        font-size: 0.8rem;
    }

    #sectionRoseCompetences
    {
        height: 15%;
        top: 41%;
    }
}